:root {
  --dark-24: #242424;
  --dark-0a: #0a0a0b;
  --dark-12: #121214;
  --white: #ffffff;
  --white-e1: #e1e1e6;
  --blue-48: #485df4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: var(-whitee1);
  background-color: var(--dark-0a);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

.c-button {
  width: fit-content;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 0.3125rem;
}
.c-button__default {
  padding: 1% 2%;
  color: var(--white);
  background-color: var(--dark-24);
}
.c-button__primary {
  padding: 1% 5%;
  color: var(--white);
  background-color: var(--blue-48);
}

.main {
  width: 100%;
  height: 100vh;
  color: var(--white);
}

.c-header {
  display: flex;
  align-items: center;
  height: 4rem;
  padding: 0 5%;
  background-color: var(--dark-12);
}
.c-header__logo {
  font-size: 1.125rem;
}

.c-todolist {
  max-width: 47.5rem;
  margin: 1.25rem auto;
  background-color: var(--dark-12);
  border-radius: 0.3125rem;
}
.c-todolist__action {
  display: flex;
  justify-content: flex-end;
  padding: 2%;
}
.c-todolist__body {
  padding: 2.5rem 2%;
}

.c-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1.0625rem 0;
  padding: 1.25rem 0.9375rem;
  background-color: var(--dark-0a);
  box-shadow: 0 0 7px rgba(255, 255, 230, 0.1);
  border-radius: 0.3125rem;
}
.c-list__item__label {
  color: var(--white-e1);
  flex-grow: 3;
}
.c-list__item__action {
  display: flex;
  justify-content: flex-end;
  flex-grow: 0.5;
  gap: 0.625rem;
}

.c-register {
  max-width: 47.5rem;
  margin: 1.25rem auto;
  background-color: var(--dark-12);
  border-radius: 0.3125rem;
}
.c-register__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
}
.c-register__header__button {
  text-transform: lowercase;
}
.c-register__form {
  padding: 2.5rem 2%;
}

.c-form__input {
  width: 80%;
  color: var(--white);
  border: none;
  padding: 0.4375rem 0.625rem;
  background-color: var(--dark-24);
}

.c-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.625rem 0;
  color: var(--dark-24);
  font-weight: bold;
  text-align: center;
  background-color: var(--dark-12);
  z-index: 9;
}

.c-separate {
  border-color: var(--white-e1);
  border-radius: 1.6875rem;
  border-width: 0.0625rem;
}