<div class="c-header">
    <h1 class="c-header__logo">Todo List</h1>
    <label for="dark-mode">
        Modo Dark
        <input type="checkbox" name="dark-mode" id="dark-mode" data-dark="dark">
    </label>
</div>