<!DOCTYPE html>
<html lang="pt-BR">

<head>
    {{> head }}
</head>

<body>
    <main class="main">

        <header>
            {{> header }}
        </header>

        {{{body}}}

    
        {{> footer }}
    
    </main>
</body>

</html>