.c-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: toRem(10) 0;
    color: var(--dark-24);
    font-weight: bold;
    text-align: center;
    background-color: var(--dark-12);
    box-shadow: 0 0 10px rgba(0,0,0,0.07);
    z-index: 9;
}