:root {
    --dark-24: #e1e1e6;
    --dark-0a: #f4f5f5;
    --dark-12: #ffffff;

    --white: #0a0a0b;
    --white-e1: #242424;

    --blue-48: #e4e4e5;
}

.dark-mode:root {
    --dark-24: #242424;
    --dark-0a: #0a0a0b;
    --dark-12: #121214;

    --white: #ffffff;
    --white-e1: #e1e1e6;

    --blue-48: #485df4;
}